extends ../pug-includes/base

block append config
  -
    config.type = 'post';

    // Sets the blog item as the active item
    config.nav.map(item => {
      if (item.slug === 'blog') {
        item.classes.push('active');
      }

      return item;
    });
  -

block article
  .article__header
    h1.article__heading {{ .Title }}
    .article__meta.meta
      | {{ partial "blog_category.html" . }}
      | {{ partial "blog_tags.html" . }}
      | {{ partial "blog_comment-count.html" . }}
  .article__content {{ .Content }}

  block article-footer
    | {{ partial "blog_author-bio.html" . }}

  block article-related-posts
    | {{ partial "blog_related-posts.html" . }}

  | {{ partial "footnotes" .}}

  block article-comments
    | {{ partial "blog_comments.html" . }}

block footnotes
  | {{ partial "footnotes-display.html" . }}
