@import '../_variables.css';

:global(.five-stages) {
  display: flex;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
}

:global(.five-stages__stage) {
  position: relative;
  display: block;
  height: 0;
  width: 20%;
  margin: 0;
  padding-bottom: 50%;
  flex-grow: 5;
  flex-shrink: 0;
  opacity: 0.5;
  transition: 500ms all ease-in-out;
  background-position: 28% top;
  background-size: cover;
  background-repeat: no-repeat;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    transition: 250ms all ease-in-out;
    opacity: 0;
  }
}

:global(.five-stages__stage--one) {
  background-image: url(/images/five-stages_total-infatuation.jpg);

  &::after { background-image: url(/images/five-stages_total-infatuation-text.png); }
}

:global(.five-stages__stage--two) {
  background-image: url(/images/five-stages_furious-output.jpg);

  &::after { background-image: url(/images/five-stages_furious-output-text.png); }
}

:global(.five-stages__stage--three) {
  background-image: url(/images/five-stages_creeping-realization.jpg);

  &::after { background-image: url(/images/five-stages_creeping-realization-text.png); }
}

:global(.five-stages__stage--four) {
  background-image: url(/images/five-stages_despair.jpg);

  &::after { background-image: url(/images/five-stages_despair-text.png); }
}

:global(.five-stages__stage--five) {
  background-image: url(/images/five-stages_the-slog.jpg);

  &::after { background-image: url(/images/five-stages_the-slog-text.png); }
}

:global(.five-stages--active > span) {
  width: 0;
}

/*
 * The `.five-stages--active` class is added via JS. This bit of CSS causes the
 * active stage to expand to 100% and slides in its text overlay.
 */
:global(.five-stages--active > .five-stages__stage--active) {
  flex-grow: 5;
  width: 100%;
  background-position: 0 top;
  opacity: 1;

  &::after {
    left: 0;
    transition: 500ms all ease-in-out 200ms;
    opacity: 1;
  }
}
