@import '../_variables.css';

:global(.footnote-ref) {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: var(--color-gray);
  border: 0;
  border-radius: 50%;
  color: var(--color-lightest);
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--transition-time) linear;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-purple);
    border-radius: 50%;
    color: var(--color-lightest);
    border: 0;
    outline: none;
  }
}
