@import '../_variables.css';

/* Override element inline styles 😭 */
:global(.twitter-tweet-rendered),
:global(.instagram-media-rendered) { margin: 1.25rem auto !important; }

:global(.tweetable__link) {
  display: block;
  margin-top: 0;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus { text-decoration: underline; }
}
