.article {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;

  @media $viewport-md {
    margin-left: 0;
    margin-right: 0;
  }

  &__content {
    overflow: hidden;

    /* A little chaotic in here since this is user-generated content. */
    img:not([class]) {
      max-width: 100%;
      height: auto;
    }

    >p:first-child {
      margin-top: calc( $font-size-default * 2 );
      font-size: 125%;
      line-height: 1.4;

      &:first-line {
        font-family: $font-family-script;
        font-size: 110%;
        line-height: 1;
      }
    }

    a:not([class]) {
      border-bottom: 1px solid color( $color-brand alpha(0%) );
      text-decoration: none;
      transition: 100ms border linear;

      &:hover,&:active,&:focus {
        border-bottom: 1px solid $color-brand;
        outline: none;
      }
    }

    sup {
      margin: 0 0.25em;

      >a[rel] {
        display: inline-block;
        height: 14px;
        width: 14px;
        background-color: $color-caption;
        border: 0;
        border-radius: 50%;
        color: $color-lightest;
        font-size: 9px;
        font-style: normal;
        font-weight: $font-weight-bold;
        line-height: 16px;
        text-align: center;
        text-decoration: none;
        transition: 200ms background-color linear;

        &:hover,&:active,&:focus {
          background-color: $color-brand;
          border: 0;
          outline: none;
        }
      }
    }
  }

  &__footer,&__related-posts,&__comments {
    margin-top: calc( $height-unit * 4 );
  }

  &__footnotes {
    margin-top: calc( $height-unit * 2 );
  }
}
