.comments {
  &__disqus {
    &:empty {
      &::after {
        content: 'Comments will load shortly...';
        display: block;
        width: 100%;
        color: $color-caption;
        font-size: 75%;
        text-align: center;
      }
    }
  }
}
