.credibility {
  display: block;
  max-width: 90vw;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

  &__lede {
    color: $color-caption;
    font-size: 67.5%;
    text-align: center;
  }

  &__image-wrap {
    margin-top: 0;
    background-color: transparent;
  }
}
