.embed-container {
  position: relative;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding-bottom: 56.25%;
  padding-top: 30px;
  background-color: $color-gray-light;
  border: 1px solid $color-caption;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    display: block;
    width: 40px;
    height: 40px;
    background-color: $color-accent;
    border: 2px solid $color-accent;
    border-radius: 50%;
    z-index: 1;
  }

  &::before {
    animation: figure-loader 2s linear 0s infinite;
  }

  &::after {
    animation: figure-loader 2s linear -1s infinite;
  }

  iframe,
  object,
  embed,
  .fb-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}

@keyframes figure-loader {
  0% {
    background-color: color($color-accent alpha(95%));
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 1;
  }

  60% {
    background-color: color($color-accent alpha(50%));
  }

  100% {
    background-color: color($color-accent alpha(0%));
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
