@define-mixin five-stages__stage--active {
  flex-grow: 5;
  width: 100%;
  background-position: 0 top;

  &::after {
    left: 0;
    transition: 500ms all ease-in-out 200ms;
    opacity: 1;
  }
}

.five-stages {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: $color-gray-light;

  &__stage {
    position: relative;
    display: block;
    height: 0;
    width: 20%;
    margin: 0;
    padding-bottom: 50%;
    flex-grow: 5;
    flex-shrink: 0;
    opacity: 0.8;
    transition: 500ms all ease-in-out;
    background-position: 28% top;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: left top;
      background-repeat: no-repeat;
      transition: 250ms all ease-in-out;
      opacity: 0;
    }

    &--one {
      background-image: url(/images/five-stages_total-infatuation.jpg);

      &::after {
        background-image: url(/images/five-stages_total-infatuation-text.png);
      }
    }

    &--two {
      background-image: url(/images/five-stages_furious-output.jpg);

      &::after {
        background-image: url(/images/five-stages_furious-output-text.png);
      }
    }

    &--three {
      background-image: url(/images/five-stages_creeping-realization.jpg);

      &::after {
        background-image: url(/images/five-stages_creeping-realization-text.png);
      }
    }

    &--four {
      background-image: url(/images/five-stages_despair.jpg);

      &::after {
        background-image: url(/images/five-stages_despair-text.png);
      }
    }

    &--five {
      background-image: url(/images/five-stages_the-slog.jpg);

      &::after {
        background-image: url(/images/five-stages_the-slog-text.png);
      }
    }
  }

  /* JS-only fun stuff */
  &.js__active.js__in-viewport {
    &.focus-one,&.focus-two,&.focus-three,&.focus-four,&.focus-five {
      .five-stages__stage {
        width: 0;
      }
    }

    &.focus-one {
      .five-stages__stage--one {
        @mixin five-stages__stage--active;
      }
    }

    &.focus-two {
      .five-stages__stage--two {
        @mixin five-stages__stage--active;
      }
    }

    &.focus-three {
      .five-stages__stage--three {
        @mixin five-stages__stage--active;
      }
    }

    &.focus-four {
      .five-stages__stage--four {
        @mixin five-stages__stage--active;
      }
    }

    &.focus-five {
      .five-stages__stage--five {
        @mixin five-stages__stage--active;
      }
    }
  }
}
