.footnote-display {
  position: fixed;
  bottom: calc(-400px + 1.5rem);
  left: 0;
  right: 0;
  padding: 1.5rem 1.5rem 50px;
  background-color: $color-gray-light;
  border-top: 4px solid $color-lightest;
  transition: 150ms bottom ease-out;
  z-index: 9;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 2px solid $color-gray-medium;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    height: 30px;
    background-image:
      linear-gradient(
        to top,
        $color-gray-light 15%,
        color($color-gray-light alpha(0)) 100%
      );
  }

  @media $viewport-md {
    left: 402px;
    padding-left: calc($height-unit * 3.667);
    padding-right: calc($height-unit * 3.667);
    padding-bottom: 20px;

    &::after {
      bottom: 20px;
    }
  }

  &--active {
    bottom: 0;
  }

  &__text-wrap {
    position: relative;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    @media $viewport-md {
      margin-left: 0;
      margin-right: 0;
    }

    &::before {
      content: attr(data-footnote-number);
      display: block;
      width: 18px;
      height: 18px;
      margin: 0 0 1rem;
      background-color: $color-accent;
      border: 0;
      border-radius: 50%;
      color: $color-lightest;
      font-size: 12px;
      font-weight: $font-weight-bold;
      line-height: 18px;
      text-align: center;
    }
  }

  &__text {
    max-height: 240px;
    font-size: 90%;
    padding-bottom: 30px;
    overflow-y: scroll;

    .footnote-image {
      display: block;
      max-width: 100%;

      &--right {
        @media $viewport-xs {
          float: right;
          max-width: 45%;
          margin: 2rem 0 1rem 2rem;
        }
      }
    }

    /* Hide the return links in this view. */
    .footnote-return {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 75%;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    line-height: 1;
    text-decoration: none;

    &::after {
      content: '×';
      margin-left: 0.25rem;
      font-size: 115%;
    }
  }
}
