
/* This appears to be the only option for targeting GSE's main container. */
[id*=gcse] {
  margin-top: 0;

  @media $viewport-sm {
    position: absolute;
    top: 28px;
    right: 21px;
    width: 300px;
    z-index: 100;

    + .blog-preview {
      margin-top: 20px;
      padding-top: 30px;
      border-top: 1px solid $color-gray-light;
    }

    .gsc-control-cse {
      background-color: transparent;
      border-color: transparent;
      padding-top: 0;
    }
  }
}

.gsc-control-cse {
  background-color: transparent;
  border-color: transparent;
}

.gsc-input {
  padding-top: 0;
  vertical-align: bottom;
}

.gsc-input-box {
  height: 27px !important;
  margin-top: 2px !important;
  border-radius: 3.5px;

  .gsib_a,.gsst_a {
    padding-top: 0;
  }

  .gscb_a {
    margin-top: 4px;
  }
}

.gsc-input {
  height: 1.65em !important;
  background-color: transparent !important;
  line-height: 1.5;
  vertical-align: middle;

  @media $viewport-md {
    vertical-align: top;
  }
}

.gsc-search-button {
  margin-top: 0;
  box-sizing: content-box;
  vertical-align: bottom;

  input.gsc-search-button {
    background-color: $color-brand;
    border-color: transparent;
    border-radius: 3.5px;
    vertical-align: top;
    transition: 150ms background-color linear;

    &:active,&:hover,&:focus {
      background-color: $color-accent;
    }
  }
}

.gsc-results-wrapper-overlay {
  box-sizing: content-box;

  * {
    box-sizing: content-box;
    margin-top: 0;
  }

  @media (max-width: 768px) {
    left: 2% !important;
    width: 90% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
  }
}

.gsc-wrapper {
  line-height: normal;
}

.gsc-modal-background-image {
  margin-top: 0;
  background-color: $color-caption;
}
