.header {
  position: relative;
  background-color: $color-gray-light;
  z-index: 10;

  &__nav {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $color-gray-medium;
    box-shadow: -1px 0 4px color( $color-darkest alpha(15%) );
  }

  &__nav-item {
    flex: 1;
    position: relative;
    display: block;
    height: 40px;
    min-width: 14%;
    margin: 0;
    background: $color-lightest;
    border-right: 1px solid $color-gray-medium;
    overflow: hidden;
    text-indent: -9999px;

    @media (min-width: 360px) {
      height: 35px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 22px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 16px;
    }

    &::after {
      content: attr(data-short-name);
      position: absolute;
      bottom: 4px;
      left: 0;
      right: 0;
      color: $color-text;
      font-size: 8px;
      font-weight: $font-weight-normal;
      line-height: 1;
      text-align: center;
      text-indent: 0;

      @media $viewport-xs {
        font-size: 10px;
      }
    }

    &:last-child {
      border-right: 0;
    }

    &--blog::before {
      background-image: url(/images/icon-blog-dark.svg);
    }

    &--start-here::before {
      background-image: url(/images/icon-about-dark.svg);
    }

    &--efficiency::before {
      background-image: url(/images/icon-efficiency-dark.svg);
    }

    &--travel::before {
      background-image: url(/images/icon-travel-dark.svg);
    }

    &--work-happier::before {
      background-image: url(/images/icon-post-hustle-dark.svg);
    }

    &--hire-me::before {
      background-image: url(/images/icon-hire-me-dark.svg);
    }

    &--contact::before {
      background-image: url(/images/icon-contact-dark.svg);
    }

    &:hover,&:active,&:focus,&--active {
      background-color: $color-brand;
      text-shadow: 1px 1px 0 color( $color-darkest alpha(40%) );
      outline: 0;

      &.header__nav-item--blog::before {
        background-image: url(/images/icon-blog-light.svg);
      }

      &.header__nav-item--start-here::before {
        background-image: url(/images/icon-about-light.svg);
      }

      &.header__nav-item--efficiency::before {
        background-image: url(/images/icon-efficiency-light.svg);
      }

      &.header__nav-item--travel::before {
        background-image: url(/images/icon-travel-light.svg);
      }

      &.header__nav-item--work-happier::before {
        background-image: url(/images/icon-post-hustle-light.svg);
      }

      &.header__nav-item--hire-me::before {
        background-image: url(/images/icon-hire-me-light.svg);
      }

      &.header__nav-item--contact::before {
        background-image: url(/images/icon-contact-light.svg);
      }

      &::after {
        color: $color-lightest;
      }
    }

    &--active {
      background-color: $color-accent;
    }
  }

  @media $viewport-md {

    &__nav {
      position: fixed;
      display: block;
      width: calc( $width-unit * 38.2 );
      max-width: 400px;
      padding-top: 80px;
      background-color: $color-lightest;
      border-bottom: 2px solid $color-lightest;
      box-shadow: none;
      font-size: calc( $font-size-default * 1.25 );
      z-index: 10;

      @media (min-height: 494px) {
        padding-top: 180px;
      }

      @media (min-height: 615px) {
        padding-top: 300px;
      }

      &::before {
        position: relative;
        content: '';
        display: block;
        border-top: 1px solid $color-text;
        z-index: 3;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        background-image: url(/images/jason-lengstorf-header-sm.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;

        @media $res-2x {
          background-image: url(/images/jason-lengstorf-header-sm@2x.jpg);
        }

        @media (min-height: 494px) {
          height: 180px;
          background-image: url(/images/jason-lengstorf-header-md.jpg);

          @media $res-2x {
            background-image: url(/images/jason-lengstorf-header-md@2x.jpg);
          }
        }

        @media (min-height: 615px) {
          height: 300px;
          background-image: url(/images/jason-lengstorf-header-lg.jpg);

          @media $res-2x {
            background-image: url(/images/jason-lengstorf-header-lg@2x.jpg);
          }
        }
      }
    }

    &--home &__nav,&--landing &__nav {
      position: relative;
      padding-top: 0;
      transition: 200ms padding ease-out;

      &::after {
        opacity: 0;
        transition: 150ms opacity ease-out;
      }

      &:not(.header__nav--fixed) {
        &::before {
          border-top: 0;
        }
      }

      &--fixed {
        position: fixed;
        top: 0;
        padding-top: 80px;

        &::after {
          opacity: 1;
        }

        @media (min-height: 494px) {
          padding-top: 180px;
        }

        @media (min-height: 615px) {
          padding-top: 300px;
        }
      }
    }

    &__nav-item {
      position: relative;
      display: block;
      height: auto;
      margin: 0;
      padding: 0 $font-size-default;
      background-color: $color-gray-light;
      border-top: 2px solid $color-lightest;
      color: $color-darkest;
      font-weight: $font-weight-light;
      line-height: calc( $font-size-default * 3 );
      overflow: initial;
      text-align: right;
      text-decoration: none;
      transition: 200ms all ease-in-out;
      z-index: 5;

      &::before,&--active::before {

        /*
         * I overdid it with my specificity on the icons, and it’s biting me in
         * the ass now.
         *
         * SHAME SHAME SHAME
         */
        background-image: none !important;
      }

      &::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 0;
        left: auto;
        display: block;
        background-color: $color-gray-light;
        border-radius: 50%;
        height: calc( $font-size-default * 3 );
        width: calc( $font-size-default * 3 );
        transform: rotate(45deg);
        transition: 200ms all ease-in-out;
      }

      &--active {
        font-family: $font-family-script;
        font-size: 100%;
      }

      &:hover,&--active {
        background-color: $color-brand;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        color: $color-lightest;
        text-shadow: 1px 1px 0 color( $color-darkest alpha(30%) );

        &::after {
          right: calc( $height-unit * -0.25 );
          background-color: $color-brand;
          border-top-right-radius: calc( $height-unit / 4 );
          z-index: 1;
        }
      }
    }

    &__nav-text {
      position: relative;
      z-index: 2;
    }

    &__nav-item--active &__nav-text {
      top: 3px;
      font-size: 110%;
    }
  }
}
