/*
 * There are multiple hero backgrounds, so let's make a shortcut for it.
 */
@define-mixin bg-img $img {
  background-image: url(/images/$(img)-xxs.jpg);

  @media $res-2x {
    background-image: url(/images/$(img)-xxs@2x.jpg);
  }

  @media (min-width: 360px) {
    background-image: url(/images/$(img)-xs.jpg);

    @media $res-2x {
      background-image: url(/images/$(img)-xs@2x.jpg);
    }
  }

  @media $viewport-xs {
    background-image: url(/images/$(img)-sm.jpg);
    background-position: top;

    @media $res-2x {
      background-image: url(/images/$(img)-sm@2x.jpg);
    }
  }

  @media (min-width: 769px) {
    padding-top: 16vh;
    background-image: url(/images/$(img)-md.jpg);

    @media $res-2x {
      background-image: url(/images/$(img)-md@2x.jpg);
    }
  }

  @media $viewport-md {
    min-height: 100vh;
  }

  @media (min-width: 1025px) {
    padding-top: 40vh;
    background-image: url(/images/$(img)-lg.jpg);

    @media $res-2x {
      background-image: url(/images/$(img)-lg@2x.jpg);
    }
  }
}

.hero {
  position: relative;
  display: none;
  min-height: 860px;
  min-height: calc( 100vh - 35px );
  width: 100vw;
  margin: 0;
  padding: 6vh 5vw 0;
  background-position: top center;
  background-size: cover;
  border-bottom: 1px solid $color-darkest;
  color: $color-lightest;
  text-shadow: 1px 1px 2px color( $color-darkest alpha(75%) );
  overflow: hidden;

  &--home {
    display: block;
  }

  @media (min-width: 769px) {
    display: block;
  }

  @mixin bg-img piggyback;

  &--about {
    @mixin bg-img about;
    padding-top: 50vh;
  }

  &--travel {
    @mixin bg-img travel;
  }

  &--efficiency {
    @mixin bg-img efficiency;
    padding-top: 45vh;
  }

  &--about,&--efficiency {

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 45vh;
      background-image: linear-gradient(to top,
        color( $color-darkest alpha(35%) ),
        color( $color-darkest alpha(35%) ) 75%,
        color( $color-darkest alpha(0%) )
      );
      z-index: 1;

      @media (min-width: 1025px) {
        background-image: none;
      }
    }
  }

  &--about {
    &::after {
      @media (min-width: 769px) {
        bottom: auto;
        top: 0;
        height: 35vh;
        background-image: linear-gradient(to bottom,
          color( $color-darkest alpha(35%) ),
          color( $color-darkest alpha(35%) ) 75%,
          color( $color-darkest alpha(0%) )
        );
      }

      @media (min-width: 1025px) {
        background-image: none;
      }
    }
  }

  &__heading,&__lede,&__button,&__read-more,&__photo-credit {
    position: relative;
    z-index: 5;
  }

  &__heading {
    color: inherit;
    font-family: $font-family-script;
    font-size: 5.675vw;
    font-weight: $font-weight-normal;
    line-height: 0.5;

    @media (min-width: 769px) {
      font-size: 5vw;
    }

    @media (min-width: 1025px) {
      font-size: calc( $font-size-default * 2.875 );
    }
  }

  &__heading-big {
    display: block;
    font-family: $font-family-heading;
    font-size: 175%;
    font-weight: $font-weight-ultra;
    line-height: 1;
  }

  &__lede {
    margin-top: calc( $height-unit / 2 );
    color: $color-gray-light;
    font-family: $font-family-heading;
    font-size: 4.25vw;
    font-weight: $font-weight-bold;
    line-height: 1.25;

    @media $viewport-sm {
      max-width: 60vw;
      font-size: calc( $font-size-default * 1.5 );
    }

    @media (min-width: 769px) {
      max-width: 44vw;
    }

    @media (min-width: 1025px) {
      max-width: 600px;
      font-size: calc( $font-size-default * 2 );
    }
  }

  &__lede-strong {
    display: block;
    margin-top: calc( $height-unit / 4 );
    font-family: $font-family-heading;
    font-size: 125%;
    font-weight: $font-weight-ultra;
  }

  &__button {
    display: block;
    background-color: $color-accent;
    box-shadow: 1px 1px 2px color( $color-darkest alpha(50%) );
    letter-spacing: 0;

    @media $viewport-sm {
      max-width: 60vw;
      font-size: 175%;
    }

    @media (min-width: 769px) {
      max-width: 44vw;
    }

    @media (min-width: 1025px) {
      display: inline-block;
      max-width: 100%;
      padding-left: 1.5em;
      padding-right: 1.5em;
    }
  }

  &__credibility {
    position: absolute;
    bottom: 2vh;
    width: 90vw;

    .js--lazyload {
      background-color: transparent;
    }
  }

  &__read-more {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 140px;
    width: 140px;
    margin: 0 auto;
    padding-top: 35px;
    border-radius: 50%;
    color: $color-gray-medium;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      content: '\2304';
      display: block;
      margin: 0;
      font-size: 150%;
      line-height: 0.25;
    }

    @media $viewport-sm {
      background-color: color( $color-lightest alpha(15%) );
      box-shadow: 0 0 6px color( $color-darkest alpha(20%) );
    }
  }

  &__photo-credit {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: $color-gray-medium;
    font-size: 75%;
    font-variant: small-caps;
    line-height: 1;
    text-transform: lowercase;

    @media $viewport-xs {
      display: block;
    }
  }

  &__credit-link {
    color: inherit;
    text-decoration: none;

    &:hover,&:active,&:focus {
      text-decoration: underline;
    }
  }

  /*
   * You know, I started out claiming I wouldn’t support older browsers so I
   * could avoid EXACTLY THIS PROBLEM.
   */
  .ios7 & {
    max-height: 1000px !important;
    min-height: 860px;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;

    &:not(.hero--home) {
      display: none;
    }

    &::after {
      display: none;
    }

    &__heading {
      font-size: 175%;
    }

    &__lede {
      font-size: 125%;
      max-width: 60%;
    }

    &__button {
      max-width: 60%;
    }

    @media $viewport-sm {
      max-height: 1000px;
      min-height: 860px;
      padding-top: 70px;

      &__lede {
        font-size: 125%;
        max-width: 44%;
      }

      &__button {
        max-width: 44%;
      }
    }
  }
}
