.meta {
  margin-top: 0;

  @media $viewport-xs {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    font-size: 11px;
    line-height: $font-size-default;
    list-style: none;
    margin: calc($font-size-default / 2) 0 0;
    padding: 0;

    &:first-child {
      margin-top: $font-size-default;
    }

    @media $viewport-xs {
      margin-top: $font-size-default;
    }

    &::before {
      content: '';
      color: $color-caption;
      font-size: 9px;
      font-weight: $font-weight-bold;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    &--category {
      margin-right: auto;

      &::before {
        content: 'Category: ';
      }
    }

    &--tags {
      margin-left: auto;
      margin-right: auto;

      &::before {
        content: 'Tags: ';
      }
    }

    &--comment-count {
      margin-left: auto;

      &::before {
        content: 'Comments: ';
      }
    }
  }

  &__item {
    display: inline-block;
    margin: 0 0.125em;

    &--tags {
      &::after {
        content: ', ';
      }

      &:last-child::after {
        content: '';
      }
    }
  }

  &__link {
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      color: $color-accent;
      outline: 0;
      text-decoration: underline;
    }

    &--tags {
      &::before {
        content: '#';
      }
    }
  }
}
