.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $height-unit 0;
  border-radius: 50%;
  font-size: calc( $font-size-default * 0.75 );

  > li {
    display: inline-block;

    > a,
    > span {
      position: relative;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      text-decoration: none;
      color: $color-caption;
      background-color: transparent;
      border: 1px solid transparent;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        border-bottom-left-radius: 50%;
        border-top-left-radius: 50%;
      }
    }
    &:last-child {
      > a,
      > span {
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $color-lightest;
      background-color: $color-brand;
      border-color: $color-brand;
      border-radius: 50%;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $color-lightest;
      background-color: $color-accent;
      border-color: $color-accent;
      border-radius: 50%;
      cursor: default;
    }
  }

  > .disabled {
    display: none;
  }
}
