.post-footnotes {
  padding-top: $height-unit;
  border-top: 1px solid $color-gray-medium;
  color: $color-caption;
  font-size: $font-size-default;
  line-height: calc( $font-size-default * 1.5 );

  &--hidden {
    display: none;
  }

  &__list {
    padding-left: 0;
    counter-reset: footnotes;
    list-style: none;
  }

  &__footnote {
    position: relative;
    margin: 0;
    padding: calc( $font-size-default / 2 );
    padding-left: calc( $font-size-default * 2 );
    border: 1px solid transparent;
    border-radius: calc( $font-size-default / 2 );
    transition: 200ms all ease-in-out;

    &::before {
      counter-increment: footnotes;
      content: counter(footnotes);
      position: absolute;
      left: calc( $font-size-default / 2 );
      top: 10px;
      min-width: 0.625em;
      padding: 4px;
      background-color: $color-caption;
      border: 0;
      border-radius: 50%;
      color: $color-lightest;
      font-size: calc( $font-size-default * 0.75 );
      font-weight: $font-weight-bold;
      line-height: 0.75;
      text-align: center;
      text-decoration: none;
      transition: 200ms background-color linear;
    }

    &--highlight {
      background-color: color( $color-brand tint(85%) );
      border-color: color( $color-brand tint(75%) );
    }

    ul {
      margin-top: calc( $font-size-default / 2 );
    }
  }

  &__return-link {
    display: inline-block;
    margin: 0;
    padding-top: 3px;
    color: $color-caption;
    text-decoration: none;
    transition: 200ms all ease-in-out;

    &:hover,&:active,&:focus {
      color: $color-brand;
      outline: 0;
    }
  }
}

/*
 * For JS-enabled browsers, we do some fancy stuff to organize the footnotes
 * in a better way. However, we still want the footnotes avaiable if JS is
 * disabled, so we need to show the standard Markdown-generated footnotes if
 * the `.no-js` class is present on the body.
 */
.footnotes {
  display: none;

  .no-js & {
    display: block;
  }
}
