.post-preview {
  max-width: 650px;
  margin: calc( $height-unit * 2 ) auto;
  padding-bottom: calc( $height-unit * 2 );
  border-bottom: 1px solid $color-gray-medium;
  overflow: hidden;

  @supports (display: flex) {
    overflow: visible;
  }

  @media $viewport-md {
    margin-left: 0;
    margin-right: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }

  &__heading {
    font-family: $font-family-sans;
    font-size: 150%;
    font-weight: $font-weight-ultra;
    text-transform: uppercase;
  }

  &__heading-link {
    color: inherit;
    text-decoration: none;

    &:hover,&:active,&:focus {
      text-decoration: underline;
    }
  }

  &__info {
    margin-top: 0;

    @supports (display: flex) {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;

      @media $viewport-xs {
        flex-direction: row;
      }
    }
  }

  &__meta {
    flex: 3 100%;
    margin-top: 0;
  }

  &__image-link {
    display: block;
    width: 100%;
    margin-top: $height-unit;
    border: 1px solid color( $color-text tint( 20% ) );

    @supports (display: flex) {
      flex: 1;
    }

    @media $viewport-xs {
      float: left;
      margin-right: 20px;
      max-width: 40%;
      margin-top: calc( $height-unit / 2 );
      margin-right: 20px;

      @supports (display: flex) {
        flex: 1 40%;
        float: none;

        @media $viewport-sm {
          margin-left: -20px;
        }
      }
    }
  }

  &__image {

  }

  &__excerpt {
    flex: 1;
    font-size: calc( $font-size-default * 1.25 );
    line-height: calc( $font-size-default * 2 );

    @media $viewport-xs {
      float: left;
      max-width: calc( 60% - 20px );
      margin-top: calc( $height-unit / 2 );

      @supports (display: flex) {
        flex: 2 calc( 60% - 20px );
        float: none;
      }
    }
  }

  a&__read-more {
    display: block;

    @media $viewport-xs {
      display: inline-block;
    }
  }
}
