.sharing {
  clear: both;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__link {
    display: inline-block;
    flex: 1 33%;
    margin: 0;
    padding: 5px 10px;
    font-family: fontawesome;
    font-size: 20px;
    line-height: 1.5em;
    text-align: center;
    transition: 150ms background-color linear;

    &,&:active,&:hover,&:focus {
      color: white;
      text-decoration: none;
    }

    &--facebook {
      background-color: #3b5998;

      &:hover,&:focus {
        background-color: color( #3b5998 blackness(+ 10%) );
      }

      &:before {
        content: '\f09a';
      }
    }

    &--twitter {
      background-color: #4099ff;

      &:hover,&:focus {
        background-color: color( #4099ff blackness(+ 10%) );
      }

      &:before {
        content: '\f099';
      }
    }

    &--googleplus {
      background-color: #d34836;

      &:hover,&:focus {
        background-color: color( #d34836 blackness(+ 10%) );
      }

      &:before {
        content: '\f0d5';
      }
    }

    &--pinterest {
      background-color: #c92228;

      &:hover,&:focus {
        background-color: color( #c92228 blackness(+ 10%) );
      }

      &:before {
        content: '\f231';
      }
    }
  }
}
