.tweetable {
  &__link {
    display: block;
    margin-top: 0;
    font-size: $font-size-default;
    font-weight: $font-weight-bold;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,&:active,&:focus {
      text-decoration: underline;
    }
  }
}
