.five-stages.aligncenter(
  class!= '{{ with .Get "active" }}focus-{{ . }}{{ end }}'
)
  span.five-stages__stage.five-stages__stage--one
  span.five-stages__stage.five-stages__stage--two
  span.five-stages__stage.five-stages__stage--three
  span.five-stages__stage.five-stages__stage--four
  span.five-stages__stage.five-stages__stage--five
