/*
 * For lazyloaded images, we have a loading animation.
 */
.js--lazyload {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: 50%;
  background-color: $color-gray-light;

  @media $viewport-xs {
    &.alignleft,&.alignright {
      padding-bottom: 20%;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: 150ms opacity linear;
  }

  &--loading {
    &::before,&::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.1);
      display: block;
      width: 40px;
      height: 40px;
      background-color: $color-accent;
      border: 2px solid $color-accent;
      border-radius: 50%;
      z-index: 1;

      /* Hide if JS is disabled. */
      .no-js & {
        display: none;
      }
    }

    &::before {
      animation: figure-loader 2s linear 0s infinite;
    }

    &::after {
      animation: figure-loader 2s linear -1s infinite;
    }

    img {
      opacity: 0;
    }
  }
}