:root {
  /* COLORS */
  --color-darkest: #1e0d2b;
  --color-lightest: #fff;
  --color-purple: #c800ec;
  --color-heading: #1e0d2b;
  --color-text: #685d71;
  --color-text-dark: #463652;
  --color-gray: #7f7e7e;
  --color-gray-alpha: rgba(214, 209, 230, 0.5);
  --color-gray-alpha-extra: rgba(214, 209, 230, 0.25);

  /* FONTS */
  --font-size-sm: 16px;
  --font-size-md: 18px;
  --font-family-default:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-family-heading: mallory, var(--font-family-default);
}

@custom-media --vert-small (min-width: 480px), (min-height: 650px);
@custom-media --small (min-width: 480px);
@custom-media --medium (min-width: 700px);
