@import './_variables.css';

.blog {
  margin-bottom: 5rem;
}

@media (--large) {
  @supports (display: grid) {
    .blog {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 2rem;
      grid-template: repeat(2, auto) / 170px 1fr;
    }

    .header,
    .article,
    .cta { grid-column-start: 2; }

    .meta,
    .floatingHead { grid-column-start: 1; }

    .meta { grid-row-start: 2; }

    .floatingHead {
      grid-row-start: 3;
      margin-top: 2rem;
    }
  }
}

.heading {
  font-size: 1.6rem;

  @media (--medium) {
    font-size: 1.875rem;
  }
}

/* Blog Previews */

.previewPageHeading {
  color: var(--color-text);
  font-size: 1rem;
  font-weight: normal;
}

.preview {
  border-bottom: 1px solid var(--color-gray-alpha);
  padding-bottom: 1.25rem;
}

.previewHeading { font-size: 1.25rem; }

.link {
  color: inherit;
  font-weight: 600;
  text-decoration: none;
}

.categoryList {
  font-size: 0.625rem;
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.excerpt { margin-top: 0.5rem; }

.readMore {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
