@import './_variables.css';

.link {
  background-color: var(--color-text);
  border-radius: 1em;
  color: var(--color-lightest);
  line-height: 1;
  margin: 0 0.125rem;
  padding: 0.125rem 0.5rem 0.2rem;
  text-decoration: none;
  transition: background-color var(--transition-time) linear;

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-purple);
    border-radius: 1em;
  }
}

.linkBlock {
  display: inline-block;
  margin-top: 0.25rem;
}

.linkBlock + .linkBlock {
  margin-top: 0;
}
