@import './_variables.css';

.wrapper {
  color: var(--color-gray);
  display: none;
  font-size: 0.625rem;
  text-align: center;
}

@media (--large) {
  .wrapper { display: block; }
}

.image {
  display: block;
  border: 1px solid var(--color-gray-alpha);
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 120px;
}

.heading {
  font-size: 0.875rem;
  margin-top: 0.75rem;
}

.text { margin-top: 0.25rem; }
