@import './_variables.css';

.footer {
  font-size: 0.75rem;
  padding-bottom: 2rem;
  text-align: center;
}

.copyright,
.link {
  color: var(--color-gray);
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0.25rem;
}

.copyright {
  display: block;
  margin-top: 0.5rem;
}

.link {
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    background-color: var(--color-purple);
    border-radius: 0.25rem;
    color: var(--color-lightest);
    outline: 0;
  }
}

@media (--medium) {
  .copyright {
    display: inline-block;
    margin-top: 0;
  }

  @supports (display: flex) {
    .footer {
      display: flex;
      text-align: left;
    }

    .copyright {
      margin-left: 0;
      margin-right: auto;
      order: 1;
    }

    .link {
      order: 2;

      &:last-of-type { margin-right: 0; }
    }
  }
}
