@import './_variables.css';

.skipToContent {
  transition: none;

  &:focus,
  &:active,
  &:hover {
    clip: auto;
    width: auto;
    height: auto;
    background-color: var(--color-lightest);
    border: 2px solid var(--color-darkest);
    border-radius: 0;
    color: var(--color-darkest);
    padding: 0.5rem 1rem;
    z-index: 5000;
  }
}

.header {
  background-color: var(--color-lightest);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 1px;
    width: calc(100% - 30px);
    z-index: 1;
  }

  &::before {
    top: calc(100% - 1px);
    background-color: var(--color-purple);
  }

  &::after {
    top: 100%;
    background-color: var(--color-gray-alpha);
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  position: relative;
  z-index: 5;
}

.navLink {
  border: 2px solid transparent;
  border-radius: 0;
  color: var(--color-darkest);
  font-family: var(--font-family-heading);
  font-weight: 900;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.5rem - 2px) 0.625rem;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: color;

  &:focus,
  &:active,
  &:hover {
    background-color: transparent;
    border-radius: 0;
    color: color(var(--color-purple) blackness(+ 10%));
  }

  &:focus { border-color: var(--color-darkest); }
}

.navLinkActive { color: var(--color-purple); }

.logo {
  border: 0;
  margin-right: 0.5rem;
  padding: 0;
  position: relative;
  width: 42px;
  z-index: 10;

  &::after {
    background-color: var(--color-lightest);
    border: 6px solid var(--color-darkest);
    border-radius: 50%;
    content: '';
    height: 54px;
    left: -17px;
    opacity: 0;
    position: absolute;
    top: -15px;
    transition: opacity var(--transition-time) linear;
    width: 54px;
    z-index: 1;
  }

  &:focus,
  &:active,
  &:hover {
    outline: 0;
  }

  &:focus {
    &::after { opacity: 1; }
  }
}

.logoImage {
  position: absolute;
  width: 42px;
  z-index: 2;
}
