@import './_variables.css';

.main {
  margin: 3rem auto 6rem;

  @media (--medium) {
    margin-top: 4rem;
    width: 57ch;
  }
}

.start {
  text-align: center;
}

.image {
  margin: 8vh auto 0;
  max-width: 400px;
}

.benefits {
  display: none;
  margin: 0 0 0.5rem;
  max-width: 320px;
}

.heading {
  font-size: 7.825vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  text-align: center;

  @media (--small) {
    font-size: 2.375rem;
  }

  @media (--vert-small) {
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
  }

  @media (--medium) {
    font-size: 2rem;
  }
}

.scrollLink {
  border: 2px solid transparent;
  border-radius: 0.25rem;
  color: var(--color-gray);
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.125em;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  text-decoration: none;

  @media (--medium) {
    margin-top: 0.75rem;
  }

  &::after {
    background-image: url(../images/down-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 12px;
    margin: 0.125rem auto 0;
    width: 40px;
  }

  &:focus,
  &:active,
  &:hover {
    background-color: transparent;
    color: currentColor;
    border-color: var(--color-purple);
  }
}

.content { margin-top: 4rem; }

.button {
  background-color: var(--color-purple);
  border: 1px solid var(--color-lightest);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 0 var(--color-gray-alpha-extra);
  color: var(--color-lightest);
  cursor: pointer;
  display: block;
  font-family: var(--font-family-heading);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 0.25rem 0.5rem 0.125rem;
  text-transform: uppercase;
  transition: background-color var(--transition-time) linear;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-darkest);
    outline: none;
  }
}

@media (--large) {
  @supports (display: grid) {
    .main {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 2rem;
      grid-template: repeat(2, auto) / 1fr repeat(2, calc(27.5ch - 1rem)) 1fr;
      width: 960px;
    }

    .hero,
    .start {
      margin: 0;
      min-height: 85vh;
      padding-bottom: 2rem;
    }

    .hero {
      display: flex;
      align-items: center;
      grid-column: span 2;
    }

    .start {
      display: flex;
      align-items: center;
      flex-direction: column;
      grid-column: 3 / span 2;
      justify-content: center;
    }

    .benefits { display: block; }

    .content {
      grid-column: 2 / span 2;
      grid-row-start: 2;
      margin-top: 0;
    }

    .image {
      margin-top: 0;
    }

    .scrollLink {
      display: none;
    }
  }
}
