@import './_variables.css';

.main {
  margin: 5rem auto 6rem;
  width: 57ch;
}

.mainHome {
  margin-top: 3rem;

  @media (--medium) {
    margin-top: 4rem;
  }
}

.mainBlog {
  @supports (display: grid) {
    @media (--large) {
      width: calc(160px + 2rem + 57ch);
    }
  }
}
