@import './_variables.css';

.heading--centered {
  font-size: 1.5625rem;
  font-weight: 900;
  line-height: 1;
  margin: 0.5rem 0 0.25rem;
  text-align: center;
}

.subheading {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
  margin-top: 0.5rem;
  text-align: center;
}

.official-bio {
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.lede {
  font-size: 110%;
}

.content-area {
  & > p:first-of-type {
    font-size: 110%;
  }
}

.opt-in-notice {
  color: color(var(--color-gray) lightness(+ 10%));
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 0.75rem;
  text-align: center;
}

/* ABOUT PAGE */
.beardImage {
  display: block;
  margin: 5rem auto 1.5rem;

  @media (--vert-small) {
    margin-top: 15vh;
  }

  @media (--large) {
    margin-top: 8rem;
  }
}
