@import './_variables.css';

.pagination {
  display: flex;
  justify-content: flex-start;
}

.paginationLink {
  color: var(--color-text);
  font-size: 0.75rem;
  margin: 0 0.5rem;
  padding: 0.25rem;

  &:first-of-type { margin-left: 0; }
  &:last-of-type { margin-right: 0; }
}

/*
 * This is a filthy dirty hack that seems like it shouldn’t need to exist,
 * but apparently :first-of-type in CSS modules has higher specificity than
 * adding an additional class?
 */
.paginationLinkMoveRight { margin-left: auto !important; }
