@import './_variables.css';

.wrapper {
  color: var(--color-gray);
  display: none;
  font-size: 0.625rem;
  text-align: center;
}

@media (--large) {
  .wrapper { display: block; }

  @supports (position: sticky) {
    .stickyContainer {
      position: sticky;
      top: 5rem;
    }
  }
}

.image {
  display: block;
  border: 1px solid var(--color-gray-alpha);
}

.text { margin-top: 0.75rem; }
