@import './_variables.css';

.link {
  color: var(--color-gray);
  display: inline-block;
  font-size: 0.625rem;
  line-height: 1.75;
  margin: 0 0.125rem;
  transition: color var(--transition-time) linear;

  &::before { content: '#'; }

  &:hover,
  &:active { color: var(--color-purple); }
}
