nav.footer__nav
  each link in config.nav
    a.footer__nav-link(
      class= `header__nav-link--${link.class}`
      href!= `{{ .Site.BaseURL }}${link.slug}/`
      title= link.title || ''
    )!= link.shortName
    //- Trailing space to avoid links running together.
    |  

p.footer__credits
  | All content © #[a.footer__credit(href="{{ .Site.BaseURL }}") Jason Lengstorf].
