.hero(
  class!= '{{ with .Params.hero.class }}hero--{{ . }}{{ end }}'
)
  .hero__text-wrap
    h1.hero__heading {{ .Params.hero.heading | markdownify }} 
      strong.hero__heading-big {{ .Params.hero.headingBig | markdownify }} 
    p.hero__lede {{ .Params.hero.lede | markdownify }} 
      strong.hero__lede-strong {{ .Params.hero.ledeStrong | markdownify }}
    //{{ if .Params.hero.popover }}
    a.hero__button.button.button--large(
      class!= `{{ if eq .Params.hero.popover true }}button--open-popover{{ end }}`
      href="{{ with .Params.hero.link }}{{ . }}{{ else }}#sign-up{{ end }}"
    ) {{ .Params.hero.button }}
    // {{ end }}
  a.hero__read-more(
    href="#content"
  ) Read More

  //{{ if (isset .Params.hero "credit") }}
  p.hero__photo-credit
    | Photo by {{ if (isset .Params.hero "creditlink") }}#[a.hero__credit-link(href="{{ .Params.hero.creditlink }}" rel="nofollow") {{ .Params.hero.credit }}]{{ else }}{{ .Params.hero.credit }}{{ end }}
  //{{ end }}
