//{{ if isset .Params "category" }}
ul.meta__list.meta__list--category
  //{{ range .Params.category }}
  //  {{ $category := index $.Site.Data.category (urlize .) }}
  li.meta__item
    a.meta__link(
      href="/category/{{ . | urlize }}"
    ) {{ if isset $category "name" }}{{ $category.name }}{{ else }}{{.}}{{ end }}
  //{{ end }}
//{{ end }}
