html,body {
  color: $color-text;
  font-family: $font-family-sans;
  font-size: $font-size-default;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media $viewport-sm {
    font-size: calc( $font-size-default * 1.25 );
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $color-darkest;
  font-family: $font-family-heading;
  line-height: 1;
}

*:not(.figure) {
  + h2:not([class]),+ h3:not([class]),+ h4:not([class]),
  + h5:not([class]),+ h6:not([class]) {
    margin-top: calc( $height-unit * 2 );
  }
}

h1 {
  font-size: 200%;
  text-transform: uppercase;

  /*@media $viewport-xs {
    font-size: calc( $font-size-default * 2.5 );
  }*/
}

h2 {
  /*font-family: $font-family-script;*/
  font-size: 175%;
  font-weight: $font-weight-bold;

  strong {
    font-weight: $font-weight-normal;
  }
}

h3 {
  font-size: 125%;
  font-weight: $font-weight-ultra;
  text-transform: uppercase;
}

h4 {
  color: $color-caption;
  font-size: 115%;
  font-weight: $font-weight-normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

ol,ul {
  padding-left: calc( $font-size-default * 1.5 );
}

li {
  margin-top: calc( $font-size-default / 2 );
}

a {
  color: color( $color-brand shade(7.5%) );
}

blockquote {
  padding: $font-size-default;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid $color-accent;
  border-bottom: 2px solid $color-accent;
  color: color( $color-text tint(10%) );
  font-size: 105%;
  font-style: italic;

  @media $viewport-sm {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  >p:last-child {

    strong:only-child {
      display: block;
      color: $color-caption;
      font-size: $font-size-default;
      font-style: normal;
      text-align: right;

      &::before {
        content: '– ';
      }

      a {
        border-color: $color-caption;
        color: inherit;

        &:hover,&:active,&:focus {
          border-color: $color-brand;
          color: color( $color-brand shade(7.5%) );
        }
      }
    }
  }
}

abbr {
  border-bottom: 1px dotted $color-caption;
  cursor: help;
}

sup {
  position: relative;
  top: -0.5rem;
  font-size: calc( $font-size-default * 0.75 );
  line-height: 0.75;
  vertical-align: baseline;
}

hr {
  border: 0;

  &::before {
    content: '* * *';
    display: block;
    margin-top: calc( $font-size-default * 1.5 );
    color: $color-caption;
    text-align: center;

    @media $viewport-sm {
      margin-top: calc( $font-size-default * 2 );
    }
  }
}

input,button {
  font-family: $font-family-sans;
}
