/*
 * # Site Variables
 */

/*
 * ## Breakpoints
 */
$viewport-xs: (min-width: 480px);
$viewport-sm: (min-width: 768px);
$viewport-md: (min-width: 1024px);
$viewport-lg: (min-width: 1280px);
$viewport-xl: (min-width: 1400px);

$res-2x: (-webkit-min-device-pixel-ratio: 1.5),  (min-resolution: 144dpi);

/*
 * ## Colors
 */
$color-darkest: #382a2c;
$color-text: #56453b;
$color-caption: color($color-text tint(30%));
$color-lightest: #fffcff;
$color-gray-light: #f9f2fa;
$color-gray-medium: #eae4eb;
$color-accent: #c700eb;
$color-brand: #ff7800;

/*
 * ## Fonts
 */
$font-family-serif: georgia, serif;
$font-family-sans: "mallory-microplus", sans-serif;
$font-family-heading: "mallory", sans-serif;
$font-family-script: "flood-std", sans-serif;
$font-family-mono: monospace;
$font-size-default: 14px;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-ultra: 800;

/*
 * ## Measurements
 */
$height-unit: 1rem;
$width-unit: 1vw;
