<!-- Schema.org markup--><meta itemprop="name" content="{{ if .Params.seo_title }}{{ .Params.seo_title }}{{ else }}{{ .Title }}{{ end }}"/><meta itemprop="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ $.Site.Params.description }}{{ end }}{{ end }}"/><!--{{ with .Params.images }}{{ range first 6 . }}--><!--    {{ if in . "-600x300" }}{{ else }}--><meta itemprop="image" content="{{ . | absURL }}"/><!--    {{ end }}{{ end }}--><!--{{ else }}--><meta itemprop="image" content="{{ $.Site.Params.default_image | absURL }}"/><!--{{ end }}--><!--{{if .IsPage}}--><meta itemprop="wordCount" content="{{ .WordCount }}"/><!--{{ end }}--><!--{{ if eq (add .Permalink "") (add .Site.BaseURL "") }}--><!--  {{ with $.Site.Params.schema }}--><script type="application/ld+json">{
  "@context":"http://schema.org",
  "@type": {{ .type }},
  "url": {{ $.Site.BaseURL }},
  "sameAs": {{ .sameAs }},
  "name": {{ .name }}
}</script><!--  {{ end }}--><!--{{ end }}--><!--{{ if eq .Section "blog" }}--><!--  {{ $author := index .Site.Params.authors .Params.author }}--><script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {{ .Permalink }},
  "headline": {{ .Params.seo_title }},
  "datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" }},
  "dateModified": {{ .Date.Format "2006-01-02T15:04:05Z07:00" }},
  "description": {{ safeHTML .Description }},
  "author": {
    "@type": "Person",
    "name": {{ $author.name }}
  },
  "publisher": {
    "@type": "Organization",
    "name": "Jason Lengstorf",
    "logo": {
      "@type": "ImageObject",
      "url": {{ "/images/jason-lengstorf-logo.png" | absURL }},
      "width": 478,
      "height": 60
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": {{ with .Params.images }}{{ if in (index . 0) "-600x300" }}{{ index . 1 | absURL }}{{ else }}{{ index . 0 | absURL }}{{ end }}{{ else }}{{ $.Site.Params.default_image | absURL }}{{ end }},
    "width": 1600,
    "height": 800
  }
}</script><!--{{ end }}-->