extends ./pug-includes/base

block append config
  -
    config.type = '404';
  -

block article
  .article__header
    h1.article__heading The Page You’re Looking for Doesn’t Exist
  .article__content
    -
      const email = '{{ .Site.Params.site_email }}';
      const subject = 'Broken link on {{ .Site.BaseURL }}';
      const body = 'Broken Link: {{ .Permalink }}%0D%0A%0D%0AWhere was the link that brought you here? (optional):%0D%0A';
      const emailLink = `mailto:${email}?subject=${subject}&body=${body}`;
    -
    p.
      The link you’ve requested has changed, moved, or no longer exists. If 
      you’re feeling helpful, please #[a(href= emailLink) send a heads up] so 
      we can fix the problem.
    p
      a(href="{{ .Site.BaseURL }}") Back to the home page.
