extends ./pug-includes/base

include ./pug-mixins/popover

block append config
  -
    config.type = 'home';
  -

block hero
  //
    {{ range first 1 (where .Data.Pages "Type" "index") }}
  include ./pug-includes/hero
  //
    {{ end }}

block article
  //
    {{ range .Data.Pages }}
      {{ if eq .Type "index" }}
  | {{ .Content }}
  //
      {{ end }}
    {{ end }}

block extras
  //
    {{ range .Data.Pages }}
      {{ if eq .Type "index" }}
        {{ with .Params.popover }}
  +popover(
    '{{ .heading | markdownify }}', 
    '{{ .lede | markdownify }}', 
    '{{ .button }}', 
    '{{ .group }}', 
    '{{ .source }}'
  )
  //
        {{ end }}
      {{ end }}
    {{ end }}
